.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body {
  font-family: "Tahoma";
  display: flex;
  flex-direction: column;
  height: 100vh;
}

p {
  font-size: 12pt;
  padding: 10px;

}

.sectiontext {
  padding: 20px;
}

.column{
  float: left;
  font-size: 12pt;
  background-color: #ffffff;
  border-color: #000000;
  border: solid;
  border-width: 2px;
  margin: 10px;
  width: fit-content;
  height: fit-content;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

button {
  padding-left: 20px;
  padding-right: 20px;
}

.list_container {
  display: inline-flex;
  justify-content: center;
  width: 100%;
}
.App-header {
  background-color: #edc8ff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 24pt;
  color: rgb(0, 0, 0);
}

.btn{
  display: inline-flex;
  background-color: #fff;
  color: #000000;
  font-size: 12pt;
  padding: 7px;
  width: fit-content;
}

#acousticness {
  background-color: #ffbfe2;
}

#danceability {
  background-color: #ffdfbf;
}

#energy {
  background-color: #faffbf;
}

#speechiness {
  background-color: #bfffc0;
}

#valence {
  background-color: #bff6ff;
}



img {
  vertical-align: middle;
  padding: 5px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
